/* ===== 全体のスタイル ===== */
* {
  margin: 0;
  padding: 0;
}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダー */
header {
  /* 背景の色 */
  background-color: orange;
  /* 背景の画像 */
  background-image: url(img/header.jpg);
  /* 背景の画像を枠いっぱいに広げる */
  background-size: cover;
  /* 内がわの余白 */
  padding: 50px;
}

